<!--<a href="#" class="btn btn-outline-banana btn-install">Инсталирај</a>-->
<footer class="text-center mb-auto">
  <p>{{ site.title }} &ndash; второ издание &ndash; {% include goran-stefanovski.html %}, {% include dusan-petricic.html %} &mdash; Детска радост, Мисла, Наша книга, Македонска книга, Скопје 1987</p>
  <p>Дигитализација и изработка на компјутерска презентација &ndash; {% include goce-mitevski.html %}.</p>
  <ul class="list-inline mt-4 mb-0">
    <li class="list-inline-item"><a class="btn btn-sm btn-banana" href="#zaIzdanieto" data-toggle="modal" data-target="#zaIzdanieto">За изданието</a></li>
    <li class="list-inline-item"><a class="btn btn-sm btn-banana" href="#zaslugi" data-toggle="modal" data-target="#zaslugi">Заслуги</a></li>
    <li class="list-inline-item"><a class="btn btn-sm btn-banana" href="#zaIzrabotkata" data-toggle="modal" data-target="#zaIzrabotkata">За изработката</a></li>
  </ul>
</footer>
