<!--<a href="#" class="btn btn-outline-banana btn-install">Инсталирај</a>-->
<footer class="text-center mb-auto">
  <p>{{ site.title }} &ndash; второ издание &ndash; {% include goran-stefanovski.html %}, {% include dusan-petricic.html %} &mdash; Детска радост, Мисла, Наша книга, Македонска книга, Скопје 1987</p>
  <p>Дигитализација и изработка на компјутерска презентација &ndash; <span itemprop="creator" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% include goce-mitevski.html %}</span></span>.</p>
  <ul class="list-inline my-4">
    <li class="list-inline-item"><a class="btn btn-sm btn-banana" href="#zaIzdanieto" data-bs-toggle="modal" data-bs-target="#zaIzdanieto">За изданието</a></li>
    <li class="list-inline-item"><a class="btn btn-sm btn-banana" href="#zaslugi" data-bs-toggle="modal" data-bs-target="#zaslugi">Заслуги</a></li>
    <li class="list-inline-item"><a class="btn btn-sm btn-banana" href="#zaIzrabotkata" data-bs-toggle="modal" data-bs-target="#zaIzrabotkata">За изработката</a></li>
  </ul>
</footer>
