<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000">
  <meta name="description" content="Бушава азбука / Горан Стефановски ; [илустрирал] Душан Петричиќ. – Скопје : Детска Радост, 1986. – 64 стр. : илустр. (делумно во бои) ; 23 x 28 см. – (Библиотека Росица)">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="{{ site.url }}assets/main.css">
  <title>{% include title.html %}</title>
  <link rel="shortcut icon" href="{{ site.url }}assets/sliki/bushava-azbuka-512x512.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@GoceMitevski">
  <meta name="twitter:title" content="{% include title.html %}">
  <meta property="og:image" content="{% include og-image.html %}">
</head>
