<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_ua }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', "{{ site.ga_ua }}");
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000">
  <meta name="description" content="{{ site.description }}">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="{{ site.url }}/assets/main.css">
  <title itemprop="headline">{% include title.html %}</title>
  <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/assets/sliki/bushava-azbuka-512x512.png">
  <link rel="shortcut icon" sizes="192x192" href="{{ site.url }}/assets/sliki/bushava-azbuka-192x192.png">
  <link rel="apple-touch-icon" href="{{ site.url }}/assets/sliki/bushava-azbuka-192x192-ios.png">
  <meta name="google-site-verification" content="pXNkbz1ln-8sRLEU5WD8p-CXHWb1zIwQFUzpDHwULEk" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@GoceMitevski">
  <meta name="twitter:title" content="{% include title.html %}">
  <meta property="og:image" content="{% include og-image.html %}">
</head>
