<div class="modal fade" tabindex="-1" role="dialog" id="zaIzdanieto">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="text-uppercase">За изданието</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Затвори">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Библиотека „РОСИЦА“</p>
        <p class="mb-0">НИПРО „Нова Македонија“</p>
        <dl>
          <dt>Директор:</dt>
          <dd>Радислав Огњановски</dd>
        </dl>
        <dl>
          <dt>Издавач:</dt>
          <dd class="mb-0">ООЗТ Редакција „Детска Радост“</dd>
          <dt>Директор и главен уредник:</dt>
          <dd>Петре Бакевски</dd>
        </dl>
        <dl>
          <dt>Одговорен уредник и ликовно-графичко обликување:</dt>
          <dd>Александар Цветкоски</dd>
        </dl>
        <dl>
          <dt>Лектура и коректура:</dt>
          <dd>Здравко Ќорвезироски</dd>
        </dl>
        <dl>
          <dt>Рецензенти:</dt>
          <dd>д-р Натка Мицковиќ</dd>
          <dd>д-р Ѓорѓи Делчев</dd>
        </dl>
        <dl>
          <dt>Печат:</dt>
          <dd class="mb-0">НИПРО „Нова Македонија“</dd>
          <dd>ООЗТ Печатница</dd>
        </dl>
        <p class="text-lg">Изданиево е заеднички производ на ООЗТ Редакција „Детска Радост“, <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">ИРО „Мисла“</span></span>, <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">ИРО „Наша книга“</span></span>, Книгоиздателство <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">„Македонска книга“</span></span> и <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">ООЗТ Печатница при НИПРО „Нова Македонија“</span></span></p>
        <p>CIP&ndash; Каталогизација во публикација<br>Народна и универзитетска Библиотека „Климент Охридски“, Скопје</p>
        <p>372.416.2-866(02.025.2)</p>
        <p class="mb-0">СТЕФАНОВСКИ, Горан</p>
        <p class="indent" itemprop="abstract">Бушава азбука / Горан Стефановски ; [илустрирал] Душан Петричиќ. &ndash; <span itemprop="locationCreated">Скопје</span> : <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">Детска Радост</span></span>, <span itemprop="copyrightYear">1986</span>. &ndash; <span itemprop="numberOfPages">64</span> стр. : илустр. (делумно во бои) ; 23 x 28 см. &ndash; (Библиотека Росица)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Затвори</button>
      </div>
    </div>
  </div>
</div>
