<div class="modal fade" tabindex="-1" role="dialog" id="zaslugi">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="text-uppercase">Заслуги</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Затвори">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Бескрајна благодарност до сите што биле, на било каков начин, вклучени во изработката на изданието, а
          особено до {% include goran-stefanovski.html %} и {% include dusan-petricic.html %}. Никако не смее да се
          заборави на севкупниот придонес на екипата што ја екранизираше {{ site.title }} во телевизиска серија.</p>
        <p>Задолжително прочитајте ги сите детали <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#zaIzdanieto">за
            печатеното издание</a>.</p>
        <p>Видеата од телевизиските епизоди на „{{ site.title }}“ ги има поставено <a href="https://www.youtube.com/user/jove4kapsa/"
            target="_blank">Јове Капса</a> на <a href="https://www.youtube.com/watch?v=Sfb3Y3EwBMA&list=PL9dnpkn6up9PUk4HeGs79JOF8HIxLA2mK"
            target="_blank">YouTube</a>.</p>
        <p>Благодарност до <a href="https://www.fsf.org/" target="_blank">Free Software Foundation</a>, односно <a href="https://savannah.gnu.org/projects/freefont/"
            target="_blank">Free UCS Outline Fonts</a> за одличниот <a href="https://www.gnu.org/software/freefont/"
            target="_blank">GNU FreeFont</a> што располага со сите специјални знаци на македонската кирилица.</p>
        <p>Симболите за вклучување и исклучување на звук се на <a href="https://www.iconfinder.com/iconofoxy" target="_blank">Icon
            O' Foxy</a>, а ги преземав од <a href="https://www.iconfinder.com/" target="_blank">Iconfinder</a>.</p>
        <p>Повеќе технички детали можете да најдете во делот <a href="#zaIzrabotkata" data-toggle="modal" data-dismiss="modal"
            data-target="#zaIzrabotkata">За изработката</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Затвори</button>
      </div>
    </div>
  </div>
</div>
