.lichi-na {
  .section-title {
    &:after {
      content: ":";
    }

  }

  .section-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  @include media-breakpoint-down(md) {
    .section-wrapper {
      flex-direction: column;

      .btn-video{
        order: -1;
        margin: auto auto $spacer*2;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .list-unstyled {
      padding-right: $spacer*5;
    }
  }
}
