<!doctype html>
<html lang="mk">
{% include head.html %}

<body>
  <div class="wrapper">
    {% include navbar.html %}
    <div class="bg-white">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <main id="content" class="empty">
              {{ content }}
            </main>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
  {% include modals.html %}
  {% include shpica.html %}
  {% include scripts.html %}
</body>

</html>
